
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300&display=swap');


*{
--pale-blue: hsl(225, 100%, 94%);
--bright-blue: hsl(245, 75%, 52%);
--very-pale-blue: hsl(225, 100%, 98%);
--desaturated-blue: hsl(224, 23%, 55%);
--dark-blue: hsl(223, 47%, 23%);
--red-hat-display:   "Red Hat Display", helvetica, arial, sans-serif;
}

body{
    background-color: var(--very-pale-blue);
    background: no-repeat center/cover url('../images/pattern-background-mobile.svg');
    margin: 0;
    }


    button{
    cursor: pointer;
    font-family: var(--red-hat-display);
    font-weight: 600;
    font-size: .9rem;
    margin: 0 auto;
    }

    div{
        display: inline-block;
        }

        #container{ 
          
                min-height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                
        }

        .plan{
            display: flex;
            flex-direction: row;
            }
            .plan-col{
            display: flex;
            flex-direction: column;
            }

            .header{
                display: flex;
                flex-direction: column;
                max-width: 20.375rem;
                background-color: #ffffff;
                overflow: hidden;
                border-radius: 1.25rem;
                font-family: var(--red-hat-display);
                text-align: center;
                }

            .header .hero{
                width: 100%;
                height: 10rem;
                background: no-repeat center/cover url('../images/illustration-hero.svg');
                margin-bottom: 10px;
                }

                .header .card-content{
                    font-family: var(--red-hat-display);
                    text-align: center;
                    font-size: 1.4rem;
                    font-weight: 700;
                    color: var(--dark-blue);


        
                }


                 .head{

    font-family: var(--red-hat-display);
text-align: center;
font-size: 1.4rem;
font-weight: 700;
color: var(--dark-blue);
}
                

.header .lead{
  
        color:  var(--desaturated-blue);
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.7rem;
        text-align: center;
        
}