
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300&display=swap');


*{
--pale-blue: hsl(225, 100%, 94%);
--bright-blue: hsl(245, 75%, 52%);
--very-pale-blue: hsl(225, 100%, 98%);
--desaturated-blue: hsl(224, 23%, 55%);
--dark-blue: hsl(223, 47%, 23%);
--red-hat-display:   "Red Hat Display", helvetica, arial, sans-serif;
}

body{
    background-color: --very-pale-blue;
    background: no-repeat center/cover url('../images/pattern-background-mobile.svg');
    margin: 0;
    }


    button{
    cursor: pointer;
    font-family: --red-hat-display;
    font-weight: 600;
    font-size: .9rem;
    margin: 0 auto;
    }

    div{
        display: inline-block;
        }

        #container{ 
          
                min-height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                
        }

        .plan{
            display: flex;
            flex-direction: row;
            }
            .plan-col{
            display: flex;
            flex-direction: column;
            }